{% extends 'layout.twig' %} {% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">About this website</h1>
    </div>
</div>
<div class="container">
    <h2 id="team">Creators</h2>
    <p>This website has been created by Gaétan BASILE, Thomas GUESDON and Nathan JOUBERT for Bekki Lab at Ochanomizu University.</p>
    <h2 id="purpose">Purpose</h2>
    <p>This website enables testing accuracy and biases incited by representations of sentences.</p>
    <p>The representations are created using ccg2lambda Visualize, a tool for creating visual representations of lambda-based
        meaning representations of sentences.</p>
    <h2 id="softwareUsed">Software used</h2>
    <p>This website is made possible by ccg2lamda Visualize, by Gaétan BASILE, Thomas GUESDON and Nathan JOUBERT.</p>
    <p>ccg2lambda Visualize is based on ccg2lambda by Pascual MARTINEZ-GOMEZ, Koji MINESHIMA, Yusuke MIYAO and Daisuke BEKKI.</p>
    <h2 id="thanks">Special Thanks</h2>
    <p>To Koji Mineshima for his contribution to the Japanese version of the website</p>
    <p></p>
</div>
{% endblock body %}