{% extends 'layout.twig' %} {% block body %}
<link rel="stylesheet" href="/stylesheets/contribute.css">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="/images/banner1.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Start a test</h1>
                    <p>You will need to answer 10 multiple-choice questions on box or graph visualizations.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/contribute/test" role="button">Start a test now</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="/images/banner2.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Learn how to read graph representations</h1>
                    <p>Graph representations abide by a set of rules, to make them easier to read. Review these rules before
                        starting a test!</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#tutorial_graph" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="/images/banner3.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Learn how to read DRS representations</h1>
                    <p>DRT has standard rules for DRS representation of sentences. Review these before starting a test!</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#tutorial_box" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div>
        <h1 id="tutorial_graph">How to read graph visualizations</h1>
        <div class="row tutorialsection">
            <div class="col-sm">
                <p>In graph representations, a node having multiple edges connected to it means there is an implicit "and" logical
                    operation between what those edges represent.</p>
                <p>Starting to read from the x entity or a event node is the best way to read graph visualizations.</p>
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-8">
                <p>In graph visualizations, there are several types of nodes :</p>
                <ul>
                    <li>Blue ones are entities.</li>
                    <li>Red ones are events.</li>
                    <li>Green ones provide additionnal information by connecting the others.</li>
                </ul>
                <p>There are also several types of edges :</p>
                <ul>
                    <li>is-a edges specify what is exactly an entity (x for instance) refers to.</li>
                    <li>event, subject and object edges specify the entities participating in an event.</li>
                    <li>conj edges connect the objects joined together by green nodes.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph1.png" alt="">
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph2.png" alt="">
            </div>
            <div class="col-sm-8">
                <p>Red polygons are negation areas. They encompass the scope of the negation; everything in them has its meaning
                    reversed. For example, having a e node in a negation polygon means e does not exist.</p>
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-8">
                <p>Disjunction is represented by a new class of nodes : Yellow nodes. The yellow OR node is connected to either
                    possibilities presented by the disjunction.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph3.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h1 id="tutorial_box">How to read DRS visualizations</h1>
            <div class="row tutorialsection">
                <div class="col-sm">
                    <p>To read a Box, you read from top to bottom, starting by the title, where all the identifier and how they
                        connection are represented.
                    </p>
                    <ul>
                        <li>Then, the entities, and in parenthesis their identifiers.</li>
                        <li>After that, you have the event, with their identifier and then the entities to which the event refers.
                        </li>
                        <li>And finally, the additional information on the connection of the entities and event.</li>
                    </ul>
                </div>
            </div>
            <div class="row tutorialsection">

                <div class="col-sm-4">
                    <img class="img-thumbnail mx-auto d-block" src="/images/examplebox1.png" alt="">
                </div>
            </div>
            <div class="row tutorialsection">

                <div class="col-sm-8">
                    <p>Negation is represented by the box inside the box, with the negation symbol (¬) in front of the box.
                        All the item in a negatited box are negated.</p>
                </div>
                <div class="col-sm-4">
                    <img class="img-thumbnail mx-auto d-block" src="/images/examplebox2.png" alt="">
                </div>
            </div>
            <div class="row tutorialsection">
                <div class="col-sm-8">
                    <p>Disjunction is represented by two box separated by the disjunction symbol (V). The item in those two
                        box are the item subject to disjunction.</p>
                </div>
                <div class="col-sm-4">
                    <img class="img-thumbnail mx-auto d-block" src="/images/examplebox3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}