{% extends 'layout.twig' %} {% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p>This website serves as a platform to test the accuracy of meaning representations of sentences created by ccg2lambda
            Visualize.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/test" role="button">Go to test page >></a>
        </p>
    </div>
</div>
<div class="container">
    <div id="howto" class="col-sm-12">
        <h1>How to contribute</h1>
        <p>To contribute, you will need to go to the "test" section of this site. There, you will be asked questions regarding
            10 representations.</p>
        <h2 id="required">Requirements</h2>
        <p>You will need knowledge of basic logic to contribute. Even though the representations are pseudo graphs or DRS, no
            knowledge regarding graph theory or DRT is needed.
        </p>
    </div>
</div>
{% endblock %}
