{% extends 'layout.twig' %} {% block body %}

<h1>Thank you for your contribution to this experiment ! </h1>
<p> You can check the result of the experiment on the "result" page </p>

{% endblock body %}