{% extends 'layout.twig' %} {% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">このウェブサイトについて</h1>
    </div>
</div>
<div class="container">
    <h2 id="team">クリエイター</h2>
    <p>このウェブサイトは、お茶の水女子大学の研究室のために Gaetan BASILE, Thomas GUESDON, Nathan JOUBERT によって作成されました。</p>
    <h2 id="purpose">目的</h2>
    <p>このウェブサイトでは、文章の表現によって引き起こされる正確さと偏見をテストすることができます。</p>
    <p>表現は、ラムダに基づく意味表現の視覚表現を作成するためのツールである ccg2lambda Visualize を使用して作成されます。</p>
    <h2 id="softwareUsed">使用ソフトウェア</h2>
    <p>このウェブサイトは、Gaétan BASILE、Thomas GUESDON、Nathan JOUBERT のccg2lamda Visualizeによって作成されています。</p>
    <p>ccg2lambda VisualizeはPascual MARTINEZ-GOMEZ、峰島浩二、MIYAO Yusuke、BEKKI大介によるccg2lambdaをベースにしています。</p>
    <h2 id="thanks">特別な感謝</h2>
    <p></p>
</div>
{% endblock body %}