{% extends 'layout.twig' %} {% block body %}
<link rel="stylesheet" href="/stylesheets/contribute.css">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="/images/banner1.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>テストを開始する</h1>
                    <p>ボックスやグラフのビジュアライゼーションでは、10の多項選択問題に答える必要があります。</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="/contribute/test" role="button">今すぐテストを開始する</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="/images/banner2.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>グラフの表現を読む方法を学ぶ</h1>
                    <p>グラフ表現は、読みやすくするために一連の規則を守っています。 テストを開始する前にこれらのルールを確認してください！</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#tutorial_graph" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="/images/banner3.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>DRS表現を読む方法を学ぶ</h1>
                    <p>DRTは、文のDRS表現のための標準規則を有する。 テストを開始する前にこれらを確認してください！</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">前</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">次</span>
    </a>
</div>
<div class="container">
    <div>
        <h1 id="tutorial_graph">グラフの視覚化を読み込む方法</h1>
        <div class="row tutorialsection">
            <div class="col-sm">
                <p>グラフ表現では、複数のエッジが接続されているノードは、それらのエッジが表すものとの間に暗黙的な「および」論理演算があることを意味します。</p>
                <p>xエンティティまたはイベントノードからの読み取りを開始することが、グラフの視覚化を読み取る最良の方法です。</p>
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-8">
                <p>グラフの可視化には、いくつかのタイプのノードがあります。</p>
                <ul>
                    <li>青はエンティティです。</li>
                    <li>赤いものはイベントです。</li>
                    <li>緑のものは、他のものを接続することによって追加の情報を提供します。</li>
                </ul>
                <p>エッジにはいくつかのタイプがあります。</p>
                <ul>
                    <li>is-a edgesは、正確に何がエンティティ（例えばx）であるかを指定します。</li>
                    <li>イベント、サブジェクトおよびオブジェクトのエッジは、イベントに参加するエンティティを指定します。</li>
                    <li>conjエッジは、緑のノードによって結合されたオブジェクトを接続します。</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph1.png" alt="">
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph2.png" alt="">
            </div>
            <div class="col-sm-8">
                <p>赤いポリゴンは負の領域です。 それらは否定の範囲を包含する。 その中のすべての意味が逆転しています。
                     例えば、否定多角形内にeノードを有することは、eが存在しないことを意味する。</p>
            </div>
        </div>
        <div class="row tutorialsection">
            <div class="col-sm-8">
                <p>分離は、ノードの新しいクラス、すなわち黄色のノードによって表される。 黄色のORノードは、論理和によって提示される可能性のいずれかに接続される。</p>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail mx-auto d-block" src="/images/examplegraph3.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
            <div>
                <h1 id="tutorial_box">DRSの視覚化を読み取る方法</h1>
                <div class="row tutorialsection">
                    <div class="col-sm">
                        <p>Boxを読むには、上から順に、タイトルから始まり、すべての識別子とその接続方法が表示されます。
                        </p>
                        <ul>
                            <li>次に、エンティティとその括弧内に識別子を入れます。</li>
                            <li>その後、識別子とそのイベントが参照するエンティティを含むイベントが発生します。
                            </li>
                            <li>最後に、エンティティとイベントの接続に関する追加情報。</li>
                        </ul>
                    </div>
                </div>
                <div class="row tutorialsection">
    
                    <div class="col-sm-4">
                        <img class="img-thumbnail mx-auto d-block" src="/images/examplebox1.png" alt="">
                    </div>
                </div>
                <div class="row tutorialsection">
    
                    <div class="col-sm-8">
                        <p>否定はボックスの中のボックスで表され、ボックスの前に否定記号（¬）が付きます。 
                            否定されたボックス内のすべてのアイテムは無効になります。</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail mx-auto d-block" src="/images/examplebox2.png" alt="">
                    </div>
                </div>
                <div class="row tutorialsection">
                    <div class="col-sm-8">
                        <p>分離は、分離記号（V）で区切られた2つのボックスで表されます。 これらの2つのボックスの項目は、分離の対象となる項目です。</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail mx-auto d-block" src="/images/examplebox3.png" alt="">
                    </div>
                </div>
            </div>
</div>
{% endblock body %}