{% extends 'jp/layout.twig' %} {% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p>このウェブサイトは、文章の意味表現の精度をテストするためのプラットフォームとして機能します。 ccg2lambda
            Visualize.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/contribute" role="button">テストページに移動する >></a>
        </p>
    </div>
</div>
<div class="container">
    <div id="howto" class="col-sm-12">
        <h1>テストに参加する方法</h1>
        <p>テストに参加するには、このサイトの「テスト」セクションに移動する必要があります。 そこには、10個の論理表現に関する質問があります。</p>
        <h2 id="required">要件</h2>
        <p>テストに参加するためには論理表現に関する基本的な知識が必要です。論理表現はグラフまたは談話表示構造(DRS)ですが、グラフ理論や談話表示理論(DRT)に関する知識は必要ありません。
        </p>
    </div>
</div>
{% endblock %}
